[Unit]
Description=Mouse button mapping for Logitech Master
After=ydotoold.service

[Service]
Type=idle
ExecStart=/usr/bin/logitech-master "/etc/logitech-master/config"
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
